run = "python webapp/app.py"
entrypoint = "webapp/app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python webapp/app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PYTHONUNBUFFERED = "1"
PORT = "5000"
